body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  background-color: #ffa500; /* Laranja */
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #87cefa; /* Azul Claro */
}

h1, h2, h3, h4, h5, h6 {
  color: #ffa500; /* Laranja */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
